 body {
     margin: 0;
     padding: 0;
     width: 100vw;
     height: auto;
 }

 /* header css start------------ */
 header {
     height: 60px;
     width: 100%;
     background-color: rgba(219, 127, 127, 0.879);
     display: flex;
     justify-content: space-around;
     align-items: center;
     position: fixed;
 }

 ul {
     display: flex;
     gap: 30px;
     list-style: none;
     font-size: 25px;
 }